Repository loicdiridollou/advent-of-code: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-go, build-typescript, test-typescript, ci-rust

ci-go:
  image: golang:1.20
  stage: ci-go
  script:
  - go test -coverprofile=coverage.out -json ./... | tee test-report.json
  artifacts:
    when: always
    paths:
    - test-report.json
    - coverage.out
    expire_in: 10 minutes

build-typescript:
  image: node:latest
  stage: build-typescript
  artifacts:
    paths:
    - dist
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: push
    paths:
    - node_modules
  script:
  - yarn
  - yarn build

test-typescript:
  image: node:latest
  stage: test-typescript
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: pull
    paths:
    - node_modules
  script:
  - yarn test
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/

ci-rust:
  image: rust:latest
  stage: ci-rust
  script:
  - cargo test > report.xml

Update repo format
  2024/src/day13/bin/day13.rs
Due: ci-rust

Update repo format
  2024/src/day14/bin/day14.rs
Due: ci-rust

Update repo format
  2024/src/day15/bin/day15.rs
Due: ci-rust

Update repo format
  2024/src/day16/bin/day16.rs
Due: ci-rust

Update repo format
  2024/src/day17/bin/day17.rs
Due: ci-rust

Update repo format
  2024/src/day18/bin/day18.rs
  2024/src/day18/bin/part1.rs
  2024/src/day18/bin/part2.rs
Due: ci-rust

Update repo format
  2024/src/day19/bin/day19.rs
  2024/src/day19/bin/part1.rs
  2024/src/day19/bin/part2.rs
Due: ci-rust

Update repo format
  2024/src/day20/bin/day20.rs
  2024/src/day20/bin/part1.rs
  2024/src/day20/bin/part2.rs
Due: ci-rust

Update repo format
  2024/src/day22/bin/day22.rs
  2024/src/day22/bin/part1.rs
  2024/src/day22/bin/part2.rs
Due: ci-rust

Update repo format
  2024/src/day21/bin/day21.rs
  2024/src/day21/bin/part1.rs
  2024/src/day21/bin/part2.rs
Due: ci-rust

Update repo format
  2024/src/day23/bin/day23.rs
  2024/src/day23/bin/part1.rs
  2024/src/day23/bin/part2.rs
Due: ci-rust

Update repo format
  2024/src/day24/bin/day24.rs
  2024/src/day24/bin/part1.rs
  2024/src/day24/bin/part2.rs
Due: ci-rust

Update repo format
  2024/src/day25/bin/day25.rs
  2024/src/day25/bin/part1.rs
  2024/src/day25/bin/part2.rs
Due: ci-rust

Add code for day 18 of 2024 (rust)
  2024/src/day18/bin/day18.rs
  2024/src/day18/bin/part1.rs
  2024/src/day18/bin/part2.rs
Due: ci-rust

Update readme
  README.md
Due: none

Add code for day 19 of 2024 (rust)
  2024/src/day19/bin/day19.rs
  2024/src/day19/bin/part1.rs
  2024/src/day19/bin/part2.rs
  2024/src/day19/testinput.txt
  README.md
Due: ci-rust

t:wq
  2024/src/day01/bin/day01.rs
  2024/src/day01/bin/part1.rs
Due: ci-rust

Add part 1 for day 20 of 2024
  2024/src/day20/bin/part1.rs
Due: ci-rust

Add test input and image
  2024/src/day20/testinput.txt
  images/2023.png
Due: ci-rust

Add part 2 for day 20 of 2024
  2024/src/day20/bin/day20.rs
  2024/src/day20/bin/part1.rs
  2024/src/day20/bin/part2.rs
Due: ci-rust

Improve code for day 20 part 2
  2024/src/day20/bin/part2.rs
Due: ci-rust

Improve code for day 20 part 2
  2024/src/day20/bin/day20.rs
  2024/src/day20/bin/part2.rs
Due: ci-rust

Add code for day 22 of 2024 (rust)
  2024/src/day21/bin/day21.rs
  2024/src/day21/testinput.txt
  2024/src/day22/bin/day22.rs
  2024/src/day22/bin/part1.rs
  2024/src/day22/bin/part2.rs
  2024/src/day22/testinput.txt
  README.md
Due: ci-rust

Improvements to part 2 of day22 of 2024
  2024/src/day22/bin/part2.rs
Due: ci-rust

Adding part 1 of day23 of 2024
  2024/src/day23/bin/day23.rs
  2024/src/day23/bin/part1.rs
Due: ci-rust

Adding part 1 of day23 of 2024
  2024/src/day23/testinput.txt
Due: ci-rust

Adding part 2 of day23 of 2024
  2024/src/day23/bin/day23.rs
  2024/src/day23/bin/part2.rs
  Cargo.lock
  Cargo.toml
  README.md
Due: ci-rust

Add code for day 24 of 2024 (rust)
  2024/src/day24/bin/day24.rs
  2024/src/day24/bin/part1.rs
  2024/src/day24/bin/part2.rs
  2024/src/day24/testinput.txt
Due: ci-rust

That is a wrap for 2024
  2024/src/day25/bin/day25.rs
  2024/src/day25/bin/part1.rs
  2024/src/day25/testinput.txt
  README.md
  images/2024.png
Due: ci-rust

Improvements to part 1 of day25 of 2024
  2024/src/day25/bin/part1.rs
Due: ci-rust

Adding day 7 for 2024 in go
  2024/go/day07/main.go
  2024/go/day07/part_one.go
  2024/go/day07/part_one_test.go
  2024/go/day07/part_two.go
  2024/go/day07/part_two_test.go
  2024/go/day07/testinput.txt
Due: ci-go

Remove print statement
  2024/src/day07/bin/part1.rs
Due: ci-rust

Add code for day 8 of 2024 (go)
  2024/go/day08/day01
  2024/go/day08/main.go
  2024/go/day08/part_one.go
  2024/go/day08/part_one_test.go
  2024/go/day08/part_two.go
  2024/go/day08/part_two_test.go
  2024/go/day08/testinput.txt
  2024/src/day08/bin/day08.rs
  go.mod
  go.sum
Due: ci-go, ci-rust

Add code for day 9 day 1 of 2024 (go)
  2024/go/day09/day01
  2024/go/day09/main.go
  2024/go/day09/part_one.go
  2024/go/day09/part_one_test.go
  2024/go/day09/part_two.go
  2024/go/day09/part_two_test.go
  2024/go/day09/testinput.txt
Due: ci-go

Add code for day 9 day 2 of 2024 (go)
  2024/go/day09/part_two.go
  2024/go/day09/part_two_test.go
Due: ci-go

update CI for go
  .gitlab-ci.yml
Due: none

update code
  2024/go/day09/part_one_test.go
Due: ci-go

Add code for day 10 of 2024 (go)
  2024/go/day10/day01
  2024/go/day10/main.go
  2024/go/day10/part_one.go
  2024/go/day10/part_one_test.go
  2024/go/day10/part_two.go
  2024/go/day10/part_two_test.go
  2024/go/day10/testinput.txt
Due: ci-go

Path conditions:
  ci-go: any of: 2022/**/*, 2024/go/**/*
  build-typescript: any of: 2023/**/*
  test-typescript: any of: 2023/**/*
  ci-rust: any of: 2024/src/**/*
