Repository loicdiridollou/advent-of-code: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci-go, build-typescript, test-typescript, ci-rust

.gitlab-ci.yml:

stages:
  - ci-go
  - build-typescript
  - test-typescript
  - ci-rust

ci-go:
  image: golang:1.20
  stage: ci-go
  script:
    - go test -coverprofile=coverage.out -json ./... | tee test-report.json
  only:
    changes:
      - 2022/**/*
      - 2024/go/**/*
  artifacts:
    when: always
    paths:
      - test-report.json
      - coverage.out
    expire_in: 10 minutes

build-typescript:
  image: node:latest
  only:
    changes:
      - 2023/**/*
  stage: build-typescript
  artifacts:
    paths:
      - dist
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: push
    paths:
      - node_modules
  script:
    - yarn
    - yarn build

test-typescript:
  image: node:latest
  only:
    changes:
      - 2023/**/*
  stage: test-typescript
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: pull
    paths:
      - node_modules
  script:
    - yarn test
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'

ci-rust:
  image: rust:latest
  only:
    changes:
      - 2024/src/**/*
  stage: ci-rust
  script:
    - cargo test > report.xml

Fixing day 11 of 2024 for data input in rust and writing it in go
  2024/go/day11/day01
  2024/go/day11/main.go
  2024/go/day11/part_one.go
  2024/go/day11/part_one_test.go
  2024/go/day11/part_two.go
  2024/go/day11/part_two_test.go
  2024/go/day11/testinput.txt
  2024/src/day11/bin/day11.rs
Due: ci-go, ci-rust

Fix tests for day 11 of 2024 in go
  2024/go/day11/part_one_test.go
  2024/go/day11/part_two_test.go
Due: ci-go

Improve day 19 of 2024 in rust and add day 12 in go for 2024
  2024/go/day12/day01
  2024/go/day12/main.go
  2024/go/day12/part_one.go
  2024/go/day12/part_one_test.go
  2024/go/day12/part_two.go
  2024/go/day12/part_two_test.go
  2024/go/day12/testinput.txt
  2024/src/day19/bin/part1.rs
Due: ci-go, ci-rust

fix name of day in go main files for 2024
  2024/go/day07/main.go
  2024/go/day08/main.go
  2024/go/day09/main.go
  2024/go/day10/main.go
  2024/go/day11/main.go
Due: ci-go

Add code for day 13 of 2024 (go)
  2024/go/day13/day01
  2024/go/day13/main.go
  2024/go/day13/part_one.go
  2024/go/day13/part_one_test.go
  2024/go/day13/part_two.go
  2024/go/day13/part_two_test.go
  2024/go/day13/testinput.txt
Due: ci-go

Add code for day 14 of 2024 (go)
  2024/go/day14/main.go
  2024/go/day14/part_one.go
  2024/go/day14/part_one_test.go
  2024/go/day14/part_two.go
  2024/go/day14/part_two_test.go
  2024/go/day14/testinput.txt
Due: ci-go

Update CI for go
  .gitlab-ci.yml
Due: none

Format for experiment
  2022/day04/main.go
  2022/day18/part_one.go
Due: ci-go

Add 2025 day 01
  .gitignore
  2025/day01/Cargo.lock
  2025/day01/Cargo.toml
  2025/day01/README.md
  2025/day01/bin/day01.rs
  2025/day01/bin/part1.rs
  2025/day01/bin/part2.rs
  2025/day01/testinput.txt
Due: none

Add day 2 of 2025 in rust
  2025/day02/Cargo.lock
  2025/day02/Cargo.toml
  2025/day02/README.md
  2025/day02/bin/day02.rs
  2025/day02/bin/part1.rs
  2025/day02/bin/part2.rs
  2025/day02/testinput.txt
Due: none

Add day 3 for 2025 in rust
  2025/day03/Cargo.lock
  2025/day03/Cargo.toml
  2025/day03/README.md
  2025/day03/bin/day03.rs
  2025/day03/bin/part1.rs
  2025/day03/bin/part2.rs
  2025/day03/testinput.txt
Due: none

Add day4 for 2025 in rust
  2025/day04/Cargo.lock
  2025/day04/Cargo.toml
  2025/day04/README.md
  2025/day04/bin/day04.rs
  2025/day04/bin/part1.rs
  2025/day04/bin/part2.rs
  2025/day04/testinput.txt
Due: none

Performance improvements for day 4 of 2025 in rust
  2025/day04/bin/day04.rs
  2025/day04/bin/part1.rs
  2025/day04/bin/part2.rs
Due: none

Fix comment in day 4 of 2025 and add day 5
  2025/day05/Cargo.lock
  2025/day05/Cargo.toml
  2025/day05/README.md
  2025/day05/src/main.rs
  2025/day05/src/part1.rs
  2025/day05/src/part2.rs
  2025/day05/testinput.txt
Due: none

Update readme with 2025 problems until day 5
  README.md
Due: none

Add day 6 for 2025 in rust
  2025/day06/Cargo.lock
  2025/day06/Cargo.toml
  2025/day06/README.md
  2025/day06/src/main.rs
  2025/day06/src/part1.rs
  2025/day06/src/part2.rs
  2025/day06/testinput.txt
Due: none

Add improvements to day 06 of 2025 in rust
  2025/day06/src/part2.rs
Due: none

Add day 7 for 2025 in rust
  2025/day07/Cargo.lock
  2025/day07/Cargo.toml
  2025/day07/README.md
  2025/day07/src/main.rs
  2025/day07/src/part1.rs
  2025/day07/src/part2.rs
  2025/day07/testinput.txt
Due: none

Add day 8 for 2025 in rust
  2025/day08/Cargo.lock
  2025/day08/Cargo.toml
  2025/day08/README.md
  2025/day08/src/main.rs
  2025/day08/src/part1.rs
  2025/day08/src/part2.rs
  2025/day08/testinput.txt
Due: none

Add day 09 for 2025 in rust
  2025/day09/Cargo.lock
  2025/day09/Cargo.toml
  2025/day09/README.md
  2025/day09/src/main.rs
  2025/day09/src/part1.rs
  2025/day09/src/part2.rs
  2025/day09/testinput.txt
Due: none

Add day 11 for 2025 in rust
  2025/day11/Cargo.lock
  2025/day11/Cargo.toml
  2025/day11/README.md
  2025/day11/src/main.rs
  2025/day11/src/part1.rs
  2025/day11/src/part2.rs
  2025/day11/testinput.txt
  2025/day11/testinput2.txt
Due: none

Add day 10 for 2025 in rust
  2025/day10/Cargo.lock
  2025/day10/Cargo.toml
  2025/day10/README.md
  2025/day10/src/main.rs
  2025/day10/src/part1.rs
  2025/day10/src/part2.rs
  2025/day10/testinput.txt
Due: none

Improve code for day 10 2025
  2025/day10/src/part1.rs
  2025/day10/src/part2.rs
Due: none

Add day 12 for 2025 in rust
  2025/day12/Cargo.lock
  2025/day12/Cargo.toml
  2025/day12/README.md
  2025/day12/src/main.rs
  2025/day12/src/part1.rs
  2025/day12/testinput.txt
Due: none

Update readme with all problems for 2025
  README.md
Due: none

Add test file
  2025/day10/test.py
Due: none
